{contentType application/Tom/xml}
<?xml version="1.0" encoding="utf-8"?>

{varType \Crell\MiDy\PageTree\PageTree $pageTree}
{varType \Crell\MiDy\PageTree\Page $currentPage}
{varType array $query}

<feed xmlns="http://www.w3.org/2005/Atom">

    <title>{$currentPage->title}</title>
    <link href="{pageUrl($currentPage)}" rel="self" />
    <id>{atomId($currentPage)}</id>
    <updated>{$currentPage->publishDate|date:'c'}</updated>

    {foreach $pageTree->queryPages(folder: '/blog') as $page}
        {varType \Crell\MiDy\PageTree\Page $page}
        <entry>
            <title>{$page->title}</title>
            <link href="{pageUrl($page)}" />
            <link rel="alternate" type="text/html" href="{pageUrl($page)}"/>
            <id>{atomId($page)}</id>
            <published>{$page->publishDate|date:'c'}</published>
            <updated>{$page->lastModifiedDate|date:'c'}</updated>
            <summary>{$page->summary}</summary>
            <content type="xhtml">
                <div xmlns="http://www.w3.org/1999/xhtml">
                    {$page->summary}
                </div>
            </content>
            <author>
                <name>{$page->other['author'] ?? 'Larry'}</name>
                <email n:if="$page->other['authorEmail'] ?? false">{$page->other['authorEmail']}</email>
            </author>
        </entry>
    {/foreach}

</feed>
