{contentType application/Tom/xml}
<?xml version="1.0" encoding="utf-8"?>

{varType \Crell\MiDy\PageTree\Page $currentPage}
{varType array $query}

{var $pageSize = 2}

{var $pageNum = $query['page'] ?? 1}

<feed xmlns="http://www.w3.org/2005/Atom">
    {var $pagination = pageQuery(folder: $currentPage->folder, pageSize: $pageSize, pageNum: $pageNum)}
    {* Todo: Need to exclude this page itself from the results. *}
    <title>{$currentPage->title}</title>
    <link href="{pageUrl($currentPage)}" rel="self" />
    <link rel="first" href="{pageUrl($currentPage)}"/>
    <link rel="last" href="{pageUrl($currentPage, ['page' => $pagination->lastPageNum()])}"/>
    <link n:if="$pageNum < $pagination->lastPageNum()" rel="next" href="{pageUrl($currentPage, ['page' => $pageNum + 1])}"/>
    <link n:if="$pageNum > 1" rel="previous" href="{pageUrl($currentPage, ['page' => $pageNum - 1])}"/>

    <id>{atomId($currentPage)}</id>
    <updated>{$currentPage->publishDate|date:'c'}</updated>

    {foreach $pagination->items as $page}
        {varType \Crell\MiDy\PageTree\Page $page}
        <entry>
            <title>{$page->title}</title>
            <link href="{pageUrl($page)}" />
            <link rel="alternate" type="text/html" href="{pageUrl($page)}"/>
            <id>{atomId($page)}</id>
            <published>{$page->publishDate|date:'c'}</published>
            <updated>{$page->lastModifiedDate|date:'c'}</updated>
            <summary>{$page->summary}</summary>
            <content type="xhtml">
                <div xmlns="http://www.w3.org/1999/xhtml">
                    {$page->summary}
                </div>
            </content>
            <author>
                <name>{$page->other['author'] ?? 'Larry'}</name>
                <email n:if="$page->other['authorEmail'] ?? false">{$page->other['authorEmail']}</email>
            </author>
        </entry>
    {/foreach}

</feed>
