{varType string $templateRoot}
{varType \Crell\MiDy\PageTreeDB2\PageTree $pageTree}
{varType array $query}

{layout $templateRoot . '/layout.latte'}

{define title}Test Page{/define}

{block content}
    {var $pagination = $pageTree->folder('/blog')->filterAnyTag(['sqlite'], 2, $query['page'] ?? 1)}

    <article n:foreach="$pagination->items as $page">
        <h3><a href="{$page->path}">{$page->title}</a></h3>
        <div>{$page->summary}</div>
    </article>

    <div>Showing page {$pagination->pageNum} of {$pagination->pageCount}</div>

    <ul class="paginator" n:foreach="range(1, $pagination->pageCount) as $i">
        <li><a href="?page={$i}">{$i}</a></li>
    </ul>

{/block}
