{varType string $templateRoot}
{varType \Crell\MiDy\PageTree\Page $currentPage}
{varType array $query}

{layout $templateRoot . '/layout.latte'}

{define title}Test Page{/define}

{block links}
    {var $pageNum = (int)($query['page'] ?? 1)}
    {var $pageSize = 2}
    {var $pagination = pageQuery(folder: $currentPage->path, anyTag: ['sqlite'], pageSize: $pageSize, pageNum: $pageNum)}
    <link rel="first" href="{pageUrl($currentPage)}"/>
    <link n:if="$pagination->lastPageNum !== 1" rel="last" href="{pageUrl($currentPage, ['page' => $pagination->lastPageNum])}"/>
    <link n:if="$pagination->nextPageNum" rel="next" href="{pageUrl($currentPage, ['page' => $pagination->nextPageNum])}"/>
    <link n:if="$pagination->previousPageNum" rel="previous" href="{pageUrl($currentPage, ['page' => $pagination->previousPageNum])}"/>
{/block}

{block content}
    {var $pageNum = (int)($query['page'] ?? 1)}
    {var $pagination = pageQuery(folder: $currentPage->folder, anyTag: ['sqlite'], pageSize: 2, pageNum: $pageNum)}
    <article n:foreach="$pagination->items as $page">
        <h3><a href="{$page->path}">{$page->title}</a></h3>
        <p>Posted: <time>{$page->publishDate|date:'j F Y'}</time></p>
        <div>{$page->summary}</div>
    </article>

    <div>Showing page {$pagination->pageNum} of {$pagination->pageCount}</div>

    <ul class="paginator" n:foreach="range(1, $pagination->pageCount) as $i">
        <li><a href="?page={$i}">{$i}</a></li>
    </ul>

{/block}
