{varType string $templateRoot}
{varType Crell\MiDy\PageTree\Folder $root}

{layout $templateRoot . '/layout.latte'}

{define title}Test Page{/define}

{block content}
    {foreach $root->find('/blog') as $page}
        <article>
            <h3><a href="{$page->path()}">{$page->title()}</a></h3>
            <div>{$page->summary()}</div>
        </article>
    {/foreach}
{/block}
