{layout $templateRoot . '/layout.latte'}

{varType \Crell\MiDy\PageTreeDB2\PageTree $pageTree}

{define title}Page Not Found{/define}

{block content}
    That page was not found.  We apologize for the inconvenience.
{/block}
