{*{default $title = 'Untitled'}*}
{default $siteName = ''}

{varType Crell\MiDy\Tree\Folder $root}

<html>
<head>
    <title>{$siteName}: {ifset title}{include title}{else}Untitled{/ifset}</title>
</head>
<body>
    <h1>{ifset title}{include title}{else}Untitled{/ifset}</h1>
    <main>
        {block content}{/block}
    </main>
<aside>
    {block sidebar}
        {include 'sidebar.latte' root: $root}
    {/block}

</aside>
</body>
</html>
