{default $title = 'Untitled'}
{default $siteName = ''}

<html>
<head>
    <title>{$siteName}: {block title}{/block}</title>
</head>
<body>
    <h1>{$title}</h1>
    <main>
        {block content}{/block}
    </main>
</body>
</html>
