{layout template('layout.latte')}

{define title}Test Form{/define}

{block content}

<form action="/form" method="POST">
    <label>Name: <input type="text" name="name"></label>
    <input type="submit" value="Submit">
</form>

{/block}
