{layout $templateRoot . '/layout.latte'}

{varType \Crell\MiDy\PageTreeDB2\PageTree $pageTree}

{define title}Home Page{/define}

{block content}
    <p>Body of the home page goes here.</p>

    <p>This should be a green block:</p>

    <div>
        <img src="green.png" alt="Green block">
    </div>
{/block}
