{layout template('layout.latte')}
{var $name = "larry garfield"}
{var $md = "## Subtitle"}

{*---
title: Larry Garfield
---*}

{var $mdItalic = "*something* is working"}
{var $mdList = "
* A list
* Goes here"}
{define title}{$name|capitalize}{/define}

{block content}

    {='# Title here'| markdown}

```php
$foo = bar();
$bar = new Baz();
```

    {$md| markdown}

{* // Temporarily disabled, as it seems broken by a recent Latte release.
    {block| markdown}
        * This
        * is working

        **Block** filters _do_ work
    {/block}
*}
{$mdItalic| markdown}
{$mdList| markdown}

Wrapping the var in a block:
{*
{block | markdown}
{$mdItalic}
{/block}
*}
<div>
{block |indent}
<p>Hello</p>
{/block}
</div>
