{layout $templateRoot . '/layout.latte'}

{varType \Crell\MiDy\PageTreeDB2\PageTree $pageTree}
{varType array $query}

{define title}Tag Test{/define}

{block content}

    Find all pages across the site by tag.

    {var $pagination = $pageTree->anyTag(['sqlite'], 2, $query['page'] ?? 1)}

    {dump $pagination}

    <article n:foreach="$pagination->items as $page">
        <h3><a href="{$page->path}">{$page->title}</a></h3>
        <div>{$page->summary}</div>
    </article>

    <div>Showing page {$pagination->pageNum} of {$pagination->pageCount}</div>

    <ul class="paginator" n:foreach="range(1, $pagination->pageCount) as $i">
        <li><a href="?page={$i}">{$i}</a></li>
    </ul>

{/block}
